@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  overflow-x: hidden;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ant-menu-light{
  border-inline-end: none !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.rounded-custom1{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 4px -1px
}

.box-custom{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 4px -1px;
  border: 1px solid #f0f0f0;
  border-radius: 12px;
}

.ant-pagination-item , .ant-pagination-prev, .ant-pagination-next{
  border: 1px solid #f0f0f0 !important;
  border-radius: 100% !important;
  background-color: #fafafa !important;
}

.ant-pagination-item-active{
    /* border: 1px solid #1677ff !important; */
    background-color: #1677ff !important;
    color: white !important;
}

.ant-pagination-item-active a{
  color: white !important;
}

.ant-menu-item-selected{
  border-radius: 0 !important;
  border-right:  2px solid #008cff;
} 

.ant-checkbox-wrapper{
  align-items: center !important;
}

.ant-btn-primary{
  background-color: #008cff;
}